_misc/

output/
*__pycache__*

*draft*

# .vscode from debugging is annoying if on github
.vscode/
.vs_code/

# input test files are too large to be pushed to github :(
tests/input/
# output files too
tests/output/

